<?xml version="1.0" ?>
<robot name="dvrk_psm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Macros -->
  <xacro:include filename="$(find dvrk_model2)/model/psm_erdem_rotated.urdf.xacro"/>
  <!--<xacro:include filename="$(find dvrk_model)/model/wsn_psm.urdf.xacro"/>-->

  <link name="world">
      <origin xyz="0.0 0.0 0.0"/>  
  </link>

  <joint name="world_joint" type="fixed">
      <parent link="world"/>
      <child link="camera"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.4"/>
  </joint>
    <link name="camera">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.8"/>
  </link>
  
  <joint name="camera_joint" type="fixed">
      <parent link="camera"/>
      <child link="right_camera_link"/>
      <origin rpy="0.0 1.5708 1.5708" xyz="-0.0029 0.0 0.5"/>
  </joint>

  <link name="right_camera_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.0058 0.0058"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  <!--origin rpy="0.0 0.0 0.0" xyz="0.0 0.2 0.8"/-->
  </link>
  
    <joint name="left_camera_joint" type="fixed">
      <parent link="camera"/>
      <child link="left_camera_link"/>
      <origin rpy="0.0 1.5708 1.5708" xyz="0.0029 0.00 0.5"/>
  </joint>

 <joint name="endo_joint" type="fixed">
      <parent link="camera"/>
      <child link="davinci_endo"/>
      <origin rpy="3.14 0 0" xyz="0.0029 0 0.5"/>
  </joint>

  <link name="davinci_endo">
    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <link name="left_camera_link">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.02 0.0058 0.0058"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  <!--origin rpy="0.0 0.0 0.0" xyz="0.0 0.2 0.8"/-->
  </link>

  <xacro:psm_sca 
      prefix="one_"
      parent_link="camera"
      xyz="-0.25 0.0 0.5" rpy="0.0 0.0 3.1415926"/>

</robot>
