<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="arm1" />
  <arg name="arm2" />      
  <arg name="config" />   

  
  <node name="dvrk_$(arg arm1)_$(arg arm2)_node"
        pkg="dvrk_robot"
        type="dvrk_console_json"        
        args="-j $(arg config)"                     
        output="screen"/>



  <group ns="/dvrk/$(arg arm1)/">

      
      <rosparam param="source_list" subst_value="True">
        [/dvrk/$(arg arm1)/state_joint_current]
      </rosparam>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

        <arg name="gui" default="false" />
        <arg name="rate" default="20" />

        <param name="robot_description" command="$(find xacro)/xacro.py '$(find dvrk_model2)/model/PSM11_erdem_rotated_both.urdf.xacro'" />
        <param name="use_gui" value="$(arg gui)"/>
        <param name="rate" value="$(arg rate)"/>

  </group>


  <group ns="/dvrk/$(arg arm2)/">
      <rosparam param="source_list" subst_value="True">
        [/dvrk/$(arg arm2)/state_joint_current]
      </rosparam>

      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

        <arg name="gui" default="false" />
        <arg name="rate" default="20" />

        <param name="robot_description" command="$(find xacro)/xacro.py '$(find dvrk_model2)/model/PSM22_erdem_rotated_both.urdf.xacro'" />
        <param name="use_gui" value="$(arg gui)"/>
        <param name="rate" value="$(arg rate)"/>
      
  </group>



  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dvrk_model2)/rviz_config/davinci_both2.rviz" />



</launch>


