<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- psm one -->
  <include file="$(find dvrk_model2)/launch/psm_one_rviz.launch">
    <arg name="model" default="$(find dvrk_model2)/model/psm_one.urdf.xacro"/>
    <arg name="rate" default="200" />
    <arg name="rviz" value="false"/>
    <arg name="ns" default="/dvrk_psm1"/>
  </include>

  <!-- psm two -->
  <include file="$(find dvrk_model2)/launch/psm_one_rviz.launch">
    <arg name="model" default="$(find dvrk_model2)/model/psm_two.urdf.xacro"/>
    <arg name="rate" default="200" />
    <arg name="rviz" value="false"/>
    <arg name="ns" default="/dvrk_psm2"/>
  </include>
  
  <!-- rviz  -->
  <node name="rviz" pkg="rviz" type="rviz"
	args="-d $(find dvrk_model2)/rviz_config/davinci_both.rviz"/>  
</launch>


